[ -f .envrc-priv ] && source_env .envrc-priv
[ -f ../.envrc ] && source_env ../.envrc
export REPLICATION_ENABLED="true"
export SITE_URL="http://localhost:30666/"
export LITESTREAM_REPLICA_URL="s3://grr-fyi-dev.s3.fr-par.scw.cloud/grr-fyi-dev/dev"
