{{define "content"}}
<article x-data="editLink">
  <h3>Edit Link</h3>

  <label>
    Target URL
    <input type="url" value="{{.TargetURL}}" readonly>
  </label>

  <label>
    Short URL
    <input type="url" value="{{.ShortURL}}" readonly>
  </label>

  <label>
    Edit Page URL
    <fieldset role="group">
      <input type="url" x-ref="editUrl" value="{{.EditURL}}" readonly>
      <button type="button" @click="copyEditUrl" x-text="copied ? 'Copied!' : 'Copy'">Copy</button>
    </fieldset>
  </label>
</article>
{{end}}
