html,
body {
  height: 100%;
  margin: 0;
}

[x-cloak] {
  display: none !important;
}

small.error {
  color: red;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  /* border: 1px dotted grey; */
}

.box .row.header {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;

  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  display: flex;
  flex: 0 1 40px;
  margin: 6px 16px;
}

legend {
  font-weight: bold;
}

.left {
  flex: initial;
  text-align: left;
}

.right {
  flex: auto;
  text-align: right;
}
